@{
    ViewBag.Title = "About";
}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("Index", "Home")">Home</a>
                <a href="@Url.Action("About", "Home")">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="https://images.unsplash.com/photo-1544620347-c4fd4a3d5957?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-left">
                    <p>Welcome to TNT Express</p>
                    <h2>5 Years Experience</h2>
                </div>
                <div class="about-text">
                    <p>
                        For the first time in Pakistan, enjoy Hybrid Ticketing System that gives you the advantage of early booking, changes with peak hours or off-peak hours and benefits of flexible fares that come with the position &amp; placement of your seat in the bus. This is a low cost flexible model tailor made to suit your travel needs.
                    </p>
                    <p>
                        It is a promise that TNT Express makes to it’s customers, that by owing the brand, you don’t need to look out for any other travelling partner. We are committed to provide you a world class travel experience with unparalleled services, ensuring that you have pleasant &amp; memorable journey every time.
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Expirence Start -->
<section class="section-90 section-md-111 text-left">
    <div class="shell">
        <div class=" container range range-xs-center">
            <style type="text/css">
              html {
                scroll-behavior: smooth;
              }
              .tc{
                height: 335px;text-align:justify;
                margin-top:20px;
              }
              .iconTitle {
                height: 73px;
                padding: 26px 0px 0px 70px;
                font-size: 18px;
                color: black;
              }
                .t1 {
                    background: url('../../Assets/Home/icons/t1.png');
                    background-repeat: no-repeat;
                }
                .t2 {
                    background: url('../../Assets/Home/icons/t2.png');
                    background-repeat: no-repeat;
                }
                .t3 {
                    background: url('../../Assets/Home/icons/t3.png');
                    background-repeat: no-repeat;
                    margin-top: 0px !important;
                }
                .t4 {
                    background: url('../../Assets/Home/icons/t4.png');
                    background-repeat: no-repeat;
                }
                .t5 {
                    background: url('../../Assets/Home/icons/t5.png');
                    background-repeat: no-repeat;
                    /*background-position-y: -5px;*/
                }
                .t6 {
                    background: url('../../Assets/Home/icons/t6.png');
                    background-repeat: no-repeat;
                }
                .t7 {
                    background: url('../../Assets/Home/icons/t7.png');
                    background-repeat: no-repeat;
                }
                .t8 {
                    background: url('../../Assets/Home/icons/t8.png');
                    background-repeat: no-repeat;
                    /*background-position-y: 2px;*/
                    margin-top: 0px;
                }
                .t9 {
                    background: url('../../Assets/Home/icons/t9.png');
                    background-repeat: no-repeat;
                }
                .t10 {
                    background: url('../../Assets/Home/icons/t10.png');
                    background-repeat: no-repeat;
                }
                .t11 {
                    background: url('../../Assets/Home/icons/t11.png');
                    background-repeat: no-repeat;
                }
                .t12 {
                    background: url('../../Assets/Home/icons/t12.png');
                    background-repeat: no-repeat;
                }
            .jumptarget::before {
              content:"";
              display:block;
              height:50px; /* fixed header height*/
              margin:-50px 0 0; /* negative fixed header height */
            }



            </style>
            <div class="row cell-sm-12 cell-md-12">
                <div class=" col-md-12 "><h2 class="text-bold text-center text-md-left blueHeading">World Class Travel Experience</h2></div>
                <p style="text-align:justify;" id="0">It is a promise that TNT Express makes to it’s customers, that by owing the brand, you don’t need to look out for any other travelling partner. We are committed to provide you a world class travel experience with unparalleled services, ensuring that you have pleasant &amp; memorable journey every time.</p> <br><br><div class="col-md-4 tc " id="1">
                    <p class="iconTitle t1" style="border:none !important">
                        Delectable Snacks Onboard
                    </p>
                    <p>Food is considered to be the core essence of every journey, we at TNT Express allow its customers to treat their taste buds with delightful snacks, especially prepared by our cuisine partner; Kitchen Cuisine.</p>
                </div><div class="col-md-4 tc " id="2">
                    <p class="iconTitle t2"  style="border:none !important">
                        Eagle Eye Surveillance
                    </p>
                    <p>Your security is our topmost priority. With the assistance of TNT Express Eagle Eye Surveillance, travelling with us ensures that you and your family enjoy the journey in absence of any fear. For passenger’s luggage, TNT Express buses are equipped with an innovative air pump technology, operating within the luggage compartment that creates a vacuum and prevents passenger’s luggage from any dust or rain water.</p>
                </div><div class="col-md-4 tc " id="3">
                    <p class="iconTitle t3">
                        ACE Entertainment System
                    </p>
                    <p>Never get bored when you cruise with TNT Express. Watch your favorite movies &amp; TV shows, listen to trending music, play exciting games and stay updated with latest news through e-newspaper. Our high-definition entertainment system “ACE” will keep you hooked the entire journey.</p>
                </div><div class="col-md-4 tc " id="4">
                    <p class="iconTitle t4">
                        On Time Every Time
                    </p>
                    <p>“On Time Every Time” is our derive force which allow us to take our customers to their destinations on time. Whilst you are enjoying the experience of journey on TNT Express, you can fully trust us to help you reach your destination on time every time.</p>
                </div><div class="col-md-4 tc " id="5">
                    <p class="iconTitle t5">
                        Air Purification System
                    </p>
                    <p>TNT Express takes pride in introducing the first ever Air Purification System in our buses which keeps the cabin air clean, healthy and refreshing so that our valued passengers can relax with every breath.</p>
                </div><div class="col-md-4 tc " id="6">
                    <p class="iconTitle t6">
                        Free wifi
                    </p>
                    <p>Whether you are cruising or waiting at the terminal, TNT Express ensures that you stay connected to your loved ones with free uninterrupted Wi-Fi throughout your journey. </p>
                </div>  <div class=" col-md-12 "><h2 class="text-bold text-center text-md-left blueHeading">World Class Terminal Experience</h2></div>
                <p style="text-align:justify;" id="101"> Our terminal offers a nonconventional space that comes with awe inspiring features. You are now able to spend your time with comfort while waiting in the lounge by availing our excellent service and make your travel experience a memorable one.</p> <br><br><div class="col-md-4 tc " id="7">
                    <p class="iconTitle t7">
                        Hybrid Ticketing System
                    </p>
                    <p>For the first time in Pakistan, enjoy Hybrid Ticketing System that gives you the advantage of early booking, changes with peak hours or off-peak hours and benefits of flexible fares that come with the position &amp; placement of your seat in the bus. This is a low cost flexible model tailor made to suit your travel needs.</p>
                </div><div class="col-md-4 tc " id="8">
                    <p class="iconTitle t8">
                        Master Collections
                    </p>
                    <p>TNT Express redefines Terminal experience; now choose from vast range of gifts, souvenirs, beauty and electronics for your loved ones and make your journey memorable.</p>
                </div><div class="col-md-4 tc " id="9">
                    <p class="iconTitle t9">
                        Little Masters Kids Club
                    </p>
                    <p>We welcome you to a world of non-stop fun and engaging games that all kids would love. Now travelling is double the fun for kids with Little Masters Kids Club. Make your kids travel with a bunch of fun filled activities at the terminal every time you a plan a journey with us.</p>
                </div><div class="col-md-4 tc " id="10">
                    <p class="iconTitle t10">
                        Master Fashion Stop
                    </p>
                    <p>Travel with style; now update your wardrobe while traveling. Now get hold of trendy fashion apparel and accessories at our terminal.</p>
                </div><div class="col-md-4 tc " id="11">
                    <p class="iconTitle t11">
                        Masterpieces Hair Salon
                    </p>
                    <p>Now, you can arrive at your destination fresh and prepared to take on the world with our Hair Salon and Hammam facilities at the terminal. This is just the place to relax, get some personal grooming done and make your travel stress disappear.</p>
                </div>
                <div class="col-md-4 tc " id="12">
                    <p class="iconTitle t12">
                        24/7 Customer Support
                    </p>
                    <p>Our team of experienced and dedicated individuals has a comprehensive knowledge of transport industry. Their relevant skills enable them to guide &amp; facilitate customers effectively which eventually make them a best fit to respond to our customer’s needs. It guarantees timely responses to all customer queries, so that our valued customers can provide feedback and suggestions that will enable us to keep growing and innovating.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Expirence End -->

<!-- FAQs Start -->
<div class="faqs">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Services</p>
            <h2>We Provide Services</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="accordion-1">
                    <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                24/7 Customer Support
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                Their relevant skills enable them to guide &amp; facilitate customers effectively which eventually make them a best fit to respond to our customer’s needs.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                Masterpieces Hair Salon
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                This is just the place to relax, get some personal grooming done and make your travel stress disappear.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                Master Fashion Stop
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                Travel with style;  Now get hold of trendy fashion apparel and accessories at our terminal.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFour">
                                Little Masters Kids Club
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                 Make your kids travel with a bunch of fun filled activities at the terminal every time you a plan a journey with us.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInLeft" data-wow-delay="0.5s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseFive">
                                Master Collections
                            </a>
                        </div>
                        <div id="collapseFive" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                TNT Express redefines Terminal experience; now choose from vast range of gifts, souvenirs, beauty and electronics for your loved ones and make your journey memorable.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="accordion-2">
                    <div class="card wow fadeInRight" data-wow-delay="0.1s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                Delectable Snacks Onboard
                            </a>
                        </div>
                        <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Food is considered to be the core essence of every journey, we at TNT Express allow its customers to treat their taste buds with delightful snacks, especially prepared by our cuisine partner; Kitchen Cuisine.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.2s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                Eagle Eye Surveillance
                            </a>
                        </div>
                        <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Your security is our topmost priority. With the assistance of TNT Express Eagle Eye Surveillance, travelling with us ensures that you and your family enjoy the journey in absence of any fear. For passenger’s luggage,
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.3s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                ACE Entertainment System
                            </a>
                        </div>
                        <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                Watch your favorite movies &amp; TV shows, listen to trending music, play exciting games and stay updated with latest news through e-newspaper. Our high-definition entertainment system “ACE” will keep you hooked the entire journey.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.4s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseNine">
                                On Time Every Time
                            </a>
                        </div>
                        <div id="collapseNine" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                “On Time Every Time” is our derive force which allow us to take our customers to their destinations on time.
                            </div>
                        </div>
                    </div>
                    <div class="card wow fadeInRight" data-wow-delay="0.5s">
                        <div class="card-header">
                            <a class="card-link collapsed" data-toggle="collapse" href="#collapseTen">
                                Air Purification System
                            </a>
                        </div>
                        <div id="collapseTen" class="collapse" data-parent="#accordion-2">
                            <div class="card-body">
                                TNT Express takes pride in introducing the first ever Air Purification System in our buses which keeps the cabin air clean, healthy and refreshing so that our valued passengers can relax with every breath.
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
